.main{
    -fx-background-color:#223243;
}
.hbox{
    -fx-border:8px;
    -fx-border-color:#223243;
    -fx-background-radius:20px;
    -fx-border-radius:20px;
    -fx-box-shadow: -5px -5px 15px rgb(255,255,255,0.1),
        5px 5px 15px rgb(0,0,0,0.35),
        inset-5px -5px 15px rgb(255,255,255,0.1), 
        inset 5px 5px 15px rgb(0,0,0,0.35);
}


.buttonCreate{
    -fx-background-color:#1da86c;
    -fx-background-radius:20px;

}
.buttonCreate:hover{
/*    -fx-scale-x:1.06;
    -fx-scale-y:1.06;*/
    -fx-opacity:0.6;
    
}
.hyperlink{
    -fx-text-fill:#0080ff;
}
.hyperlink:hover{
   -fx-scale-x:1.06;
    -fx-scale-y:1.06;
    -fx-opacity:0.6;
}
.radius{
    -fx-background-radius:0 12 12 0;
}
.radius2{
    -fx-background-radius:12 0 0 12;
}
.vboxLeft{
    -fx-background-color:linear-gradient(to bottom right, #42b3c6, #0f3b57);
}
.vboxRight{
    -fx-background-color:linear-gradient(to bottom left, #42b3c6, #0f3b57);
}

/* ====== Dashboard ============ */

.opacity_scale:hover{
    -fx-opacity:0.4;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
    -fx-cursor:hand;
    
}

.labelFirsrname{
    -fx-background-color:#ff8457;
    -fx-background-radius:25px;
    -fx-text-fill:#202124;
}

.search{
    -fx-text-fill:white;
    -fx-background-color:black;
    -fx-background-radius:15px
}

.borders{
    -fx-border-bottom:2px;
    -fx-border-color:#575656;
}
.bordersExternal{
    -fx-border:2px;
    -fx-border-color:#575656;
    -fx-border-radius:15px;
}
.bordersInternal{
    -fx-border-width:3px;
    -fx-border-style: dotted; 
    -fx-border-color:#575656;
    -fx-border-radius:15px;
}

.buttonNew{
    
    -fx-background-radius:12;
    -fx-background-color:#1da86c;
    -fx-cursor:hand;
}
.buttonNew:hover{
    -fx-opacity:0.6;
}

.custom-chart {
    -fx-background-color: transparent;  
    -fx-border-color: transparent;       
    -fx-padding: 10;
}

.custom-chart .chart-plot-background {
    -fx-background-color: transparent;  
}

.custom-chart .chart-vertical-grid-lines,
.custom-chart .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.custom-chart .axis-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;       
    -fx-font-weight: bold;     
}


.labelClinicAnalytics{
    -fx-background-color:linear-gradient(to bottom right, #1da86c,#0f4f33);
    -fx-background-radius:10px;
    -fx-padding:8px;
}


/*  =*=*=*==*=*== Table_Dashboard =*=*=*=*=*=*=*=*=*=*=== */

.table-view{
    -fx-background-color: white;
    -fx-font-size:20px;
    -fx-font-width:bold;
    
}
.table-view .column-header {
    -fx-background-color: #1da86c;  /* green header row */
}

.table-view .column-header .label {
    -fx-text-fill: white;           /* white text */
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
}




.table-row-cell{
    -fx-background-color:#333232;
}

.table-row-cell:even{
    -fx-background-color:#dadfe6;
}
.table-row-cell:odd{
    -fx-background-color:#a3a5a8
}
.table-row-cell:selected{
    -fx-background-color:#42b3c6;
    -fx-text-fill:white;
}


.chatGenerated{
    -fx-border-width:2px;  
    -fx-background-color:#a0aeba;
    -fx-background-radius:15px;
}

.chatMine{
    -fx-background-color:#00ff99;
    -fx-background-radius:13px;
}


.cursor{
    -fx-cursor:hand;
}

.background{
    -fx-background-color:linear-gradient(to bottom right, #1da86c,#0f4f33)
}